## Get openai api key from https://platform.openai.com/account/api-keys
OPENAI_API_KEY = sk-xxxxxxxxx

## Get elevenlabs api from https://docs.elevenlabs.io/authentication/01-xi-api-key
ELEVEN_API_KEY = xxxxxx
